<!-- Bottom Nav -->
<footer>
  <nav class="navbar fixed-bottom navbar-dark bg-primary">
    <h6 class="display-10 navbar-text">&copy; Copyright 2022 - Ruth DeGuzman - 301224922.</h6>
  </nav>
</footer>